<!-- Listing Attributes -->
<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <!-- Listing Attributes -->
  <div class="form-inputs">
    <%= f.association :user, :as => :hidden, :input_html => { :value => current_user.id }%>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>

    <%= f.input :price %>
    <%= f.input :qty, collection: 1..500 %>
    <% f.association :location %>
    
  </div>

  <!-- Location Attributes -->
  <%= simple_fields_for :location do |l| %>

    <div class="form-inputs">
      <%= l.input :state, as: :select, collection: ["QLD", "NSW", "TAS", "VIC", "WA", "NT", "SA", "ACT"] %>
      <%= l.input :suburb %>
      <%= l.input :postcode %>
    </div>
  <% end %>

  <%= f.input :picture, as: :file %>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
