<p id="notice"><%= notice %></p>

<h1>Listings</h1>


<br>

<%= link_to 'New Listing', new_listing_path %>


<% @listings.each do |listing| %>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">

    <tr>
      <h5 class="card-title"><%= listing.title %></h5>
    
      <p class="card-text"><%= listing.description %></p>
      <%= link_to 'Edit', edit_listing_path(listing), class:"btn btn-primary" %>



  </div>
</div>
<% end %>