
<h1>Listings</h1>
<br>


<div class="row">
  <% @listings.each do |listing| %>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">

              <%= cl_image_tag listing.picture.key, crop: :scale, class:"card-img-top", width: 300, cloud_name: 'dzfu3lc6p' if listing.picture.attached? %>
              <div class="card-body">
                  <h5 class="card-title"><%= listing %></h5>
                  <p class="card-text menu-description "><%= listing.description %></p>
                  <p class="card-text"><%= number_to_currency(listing.price) %></p>
                  <%= link_to "Show more", listing_path(listing.id), class:"btn btn-primary btn-right" %>
              </div>

          </div>
      </div>
  <% end %>
</div>