<%= render 'search' %>
<br>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 title-index">Listings</h1>
      <p class="lead text-index">Here a magical world of plant-based, home-cooked meals opens up for you!</p>
    </div>
  </div>
<br>


<div class="flex">

  <% @listings.each do |listing| %>
    <% if listing.qty > 0 %>
      <div class="card" style="width: 18rem;">
        <% if !listing.picture.attached? %>
        <%= image_tag "brachiosaur.jpg", class:"card-img-top index-img", width: 300, height: 200 %>
      <% else %>
        <%= cl_image_tag listing.picture.key, crop: :fill, class:"card-img-top index-img", width: 300, height: 200, cloud_name: 'dzfu3lc6p' %>
      <% end %>
        <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <div class="fade-out"></div>
            <p class="card-text menu-description "><%= listing.description %></p>
            <% if listing.categories != 0 %>
              <% listing.categories.each do |cat| %>
                 <span class="card-text categories-index"><%= cat.name %></span>
              <% end %>
            <% end %>
            <p class="card-text"><%= listing.location %></p>
            <p class="card-text"><%= number_to_currency(listing.price) %></p>
            <%= link_to "Show more", listing_path(listing.id), class:"btn btn-primary btn-right" %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>