<h1>
  <%= @listing.title %>
</h1>

<p>
  <%= @listing.description %>
</p>

<p>
  <%= number_to_currency(@listing.price) %>
</p>

<p>
  Available:
  <%= @listing.qty %>
</p>

<p>
  <%= @listing.location %>
</p>

<% if user_signed_in? && current_user != @listing.user %>
<%= link_to 'Buy One', buy_path(@listing.id), class:"btn btn-primary" %> |
<% end %>
<% if user_signed_in? && current_user == @listing.user%>
<%= link_to 'Delete', listing_path(@listing.id), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
