<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @listing.qty %>
</p>
<% if user_signed_in? && current_user != @listing.user %>
<%= link_to 'Buy', buy_path, class:"btn btn-primary" %> |
<% end %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
