<h1><%= @user.first_name %></h1>
<%= @user.email %>
<%= @user.about_me %>

<h2><%= @user.first_name  %>'s Listings:</h2>
<div class="flex">

    <% @user.listings.each do |listing| %>
  
            <div class="card" style="width: 18rem;">
              <% if !listing.picture.attached? %>
              <%= image_tag "brachiosaur", class:"card-img-top index-img", width: 300, height: 200 %>
            <% else %>
              <%= cl_image_tag listing.picture.key, crop: :fill, class:"card-img-top index-img", width: 300, height: 200, cloud_name: 'dzfu3lc6p' %>
            <% end %>
                <div class="card-body">
                    <h5 class="card-title"><%= listing.title %></h5>
                    <p class="card-text menu-description "><%= listing.description %></p>
                    <p class="card-text"><%= listing.location %></p>
                    <p class="card-text"><%= number_to_currency(listing.price) %></p>
                    <%= link_to "Show more", listing_path(listing.id), class:"btn btn-primary btn-right" %>
                </div>
            </div>
  
    <% end %>
  
  </div>
