<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
  
    <%= link_to 'Plantlicious', root_path, class:"navbar-brand" %>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
  
            <%= link_to "Listings", listings_path, class: "nav-link" %>
            </li>
 
          <%# is user is signed in show sign out and edit profile links %>
          <% if user_signed_in? %>
  
            <li class="nav-item">
            <%# why friend not friends %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
            </li>
  
            <li class="nav-item">
            <%# why friend not friends %>
            <%# when working with DESTROY, add method: :delete %>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
  
          <%# otherwise show sign up and sign in links %>
          <% else %>
            
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            </li>
  
            <li class="nav-item">
            <%# why friend not friends %>
              <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
            </li>
  
          <% end %>
  
        </ul>
      </div>
    </div>
  </nav> -->






 <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" >
   <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
     🐱‍🐉 Brachio
   </a>
   <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <%= link_to "Listings", listings_path, class: "nav-link" %>
    </li>
    <li>
      <a href="#" class="nav-link px-2 link-dark"> About</a>
    </li>
    <% if user_signed_in? %>
    <li>
      <%= link_to 'New Listing', new_listing_path, class:"nav-link" %>
    </li>
    <% end %>
    <li>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
    </li>
   </ul>
   <div class="col-md-3 text-end">
    <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary me-2" %>
    <% else %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary" %>
    <% end %>
   </div>
 </header>